.header {
  background: url(/images/desktop/header-1920-index.jpg);
  background-repeat: no-repeat;
  display: flex;
  height: 447.6px;
  width: 100%;
  margin-top: 0;
  position: absolute;
  z-index: 0;
  background-position: 45%;
  background-size: cover;
}

.header img {
  position: absolute;
}

.intro {
  z-index: 1;
  position: relative;
  color: var(--white);
  height: 22rem;
}

.intro h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.2rem;
  width: 15rem;
  margin: 7rem 2rem 0 5%;
  line-height: 1.5;
  text-shadow: rgba(0, 0, 0, 0.305) 2px 2px 3px;
}

.intro p:first-of-type,
.button-green {
  display: none;
}

.line-one {
  background-color: var(--coral);
  padding: 0 1rem;
}

.line-two {
  background-color: var(--dark-purple);
  padding: 0 1rem;
}

.line-three {
  background-color: var(--peach);
  padding: 0 1rem;
}

.button-yellow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

/* IPAD / DESKTOP */

.cosmo-img-desktop,
.spaces,
.cosmo-desktop,
.biology-pad,
.biology-img-pad,
.involved-desktop,
.cosmo-pad,
.guide p {
  display: none;
}

/* ---------------- UNDER INTRO HEADER ---------------- */

.vision {
  margin: 2rem auto;
  display: block;
  text-align: center;
  line-height: 1.5;
  max-width: 16rem;
}

.vision img {
  width: 140px;
}

.desktop-vision {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  max-width: 350px;
}

.links a {
  color: var(--white);
  background-color: var(--black);
  line-height: 2.9;
  height: 60px;
  margin: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}

.links a:hover {
  background-color: var(--dark-blue);
}

/* ---------------- EXHIBITIONS ---------------- */

.wrap {
  margin: auto;
}

figure a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

.exhibitions {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 340px;
  justify-content: space-between;
}

.cosmo {
  background-color: var(--dark-blue);
  margin: auto;
  width: 340px;
  border-radius: 20px;
  text-align: center;
  margin-top: 2rem;
}

.cosmo-img-mobile {
  width: 340px;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.cosmo h2 {
  margin: 0;
  padding: 10px 0 15px 0;
  font-size: 1.2rem;
}

.biology,
.robotics,
.ecology,
.evolution {
  width: 165px;
  margin: 5px 0 15px 0;
  padding: 0;
  border-radius: 20px;
  text-align: center;
  transition: filter 0.4s ease-in-out;
}

.biology img,
.robotics img,
.ecology img,
.evolution img {
  width: 165px;
  border-radius: 20px 20px 0 0;
}

.biology h2,
.robotics h2,
.ecology h2,
.evolution h2 {
  margin: 0;
  padding: 5px 0 10px 0;
  font-size: 1.2rem;
}

.biology {
  background-color: var(--purple);
}

.robotics {
  background-color: var(--peach);
}

.ecology {
  background-color: var(--yellow);
}

.evolution {
  background-color: var(--pale-blue);
}

.evolution:hover,
.ecology:hover,
.biology:hover,
.cosmo:hover,
.robotics:hover {
  filter: brightness(110%);
  box-shadow: 2px 2px 5px rgb(188, 187, 187);
}

/* ---------------- GET INVOLVED ---------------- */

.involved {
  position: relative;
  width: 340px;
  margin: auto;
}

.involved img {
  width: 340px;
}

.button-purple {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

/* ---------------- GUIDED TOUR ---------------- */

.guide {
  position: relative;
  width: 340px;
  margin: auto;
  height: 180px;
  margin-bottom: 2rem;
}

.guide h2 {
  position: relative;
  padding-top: 3rem;
  font-size: 2.2rem;
  font-weight: 800;
  width: 200px;
  text-transform: uppercase;
  line-height: 1;
  z-index: 1;
}

.guide img {
  position: absolute;
  width: 180px;
  top: -18px;
  right: 20px;
}

.button-blue {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.blue-box {
  position: absolute;
  width: 288px;
  height: 140px;
  right: 0;
  top: 20px;
  background-color: var(--light-blue);
  z-index: 0;
}

@media only screen and (min-width: 640px) {

  .vision,
  .links,
  .cosmo,
  .biology-desktop {
    display: none;
  }

  .intro h1 {
    font-size: 3rem;
    width: 15rem;
    margin: 8rem 0 0 9rem;
    margin-left: 5rem;
    margin-top: 4rem;
  }

  .intro p:first-of-type {
    display: block;
    text-transform: initial;
    width: 200px;
    margin-left: 5rem;
    line-height: 1.5;
  }

  .buttons {
    display: flex;
    height: 120px;
    justify-content: center;
  }

  .button-yellow,
  .button-green {
    display: inline-block;
    position: relative;
    left: initial;
    right: initial;
    margin: 50px 20px;
  }

  /* ---------------- UNDER INTRO HEADER ---------------- */

  .desktop-vision {
    position: relative;
    display: block;
    margin: 4rem auto 0 auto;
    padding: 3rem 6rem 0 6rem;
    max-width: 1100px;
  }

  .desktop-vision figure {
    display: none;
  }

  .box {
    background-color: var(--dark-blue);
    display: flex;
    height: 230px;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    margin-bottom: 1.4rem;
  }

  .desktop-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -14.2rem;
  }

  .desktop-links a {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    height: 75px;
    font-weight: bold;
    border-radius: 20px;
    line-height: 4;
    padding-left: 4rem;
    text-transform: uppercase;
    margin: 4px;
    z-index: 1;
    cursor: pointer;
  }

  .desktop-links p {
    position: relative;
    width: 400px;
    font-size: 1.3rem;
    line-height: 1.6;
    color: var(--white);
    margin-bottom: 5rem;
    padding-left: 10%;
  }

  .desktop-links a:nth-child(2) {
    background-color: var(--yellow);
    color: var(--black);
    min-width: 400px;
    max-width: 650px;
  }

  .desktop-links a:nth-child(3) {
    background-color: var(--coral);
    color: var(--white);
    min-width: 380px;
    max-width: 500px;
    margin-right: 40px;
  }

  .desktop-links a:nth-child(4) {
    background-color: var(--dark-purple);
    color: var(--white);
    min-width: 320px;
    max-width: 350px;
  }

  .desktop-links a:nth-child(2):hover {
    background-color: #ffc240;
  }

  .desktop-links a:nth-child(3):hover {
    background-color: #f4505a;
  }

  .desktop-links a:nth-child(4):hover {
    background-color: #7d1e7e;
  }

  /* ---------------- EXHIBITIONS ---------------- */

  .exhibition-container {
    margin: auto;
    max-width: 1100px;
  }

  .wrap {
    padding: 2rem;
    max-width: 800px;
  }

  .exhibitions {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .cosmo-pad {
    background-color: var(--dark-blue);
    margin: 0;
    transition: filter 0.4s ease-in-out;
  }

  .cosmo-pad:hover {
    filter: brightness(110%);
    box-shadow: 2px 2px 5px rgb(188, 187, 187);
  }

  .biology {
    flex-direction: column;
    margin: 0 0 0 20px;
  }

  .cosmo-pad,
  .biology {
    display: block;
    width: 275px;
    text-align: center;
    border-radius: 20px;
  }

  .cosmo-img-pad,
  .biology img {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .cosmo-pad h2,
  .biology h2 {
    margin: 0;
    padding: 10px 0 15px 0;
    font-size: 1.2rem;
  }

  .robotics,
  .ecology,
  .evolution {
    height: 230px;
    display: flex;
    flex-direction: column;
    margin: 40px 18px;
  }

  /* ---------------- GET INVOLVED ---------------- */

  .involved-mobile {
    display: none;
  }

  .involved {
    width: 100%;
    padding: 0 4rem;
    max-width: 1100px;
    margin-bottom: 4rem;
  }

  .involved img {
    width: 100%;
  }

  .involved-desktop {
    display: flex;
  }

  .button-purple {
    top: 40%;
  }

  /* ---------------- GUIDED TOUR ---------------- */

  .guide {
    display: flex;
    width: 100%;
    padding: 0 4rem;
    max-width: 1100px;
    height: 280px;
    margin-bottom: 8rem;
    align-items: center;
  }

  .guide h2 {
    font-size: 3rem;
    padding-top: 0;
    margin-top: 2rem;
  }

  .guide p {
    display: block;
    width: 340px;
    margin-left: 2.2rem;
    font-size: 1.2rem;
    z-index: 1;
    padding-right: 2.5rem;
  }

  .guide img {
    display: none;
  }

  .guide strong {
    white-space: nowrap;
  }

  .blue-box {
    display: flex;
    width: 100%;
    right: 4rem;
    height: 100%;
    top: 0;
    max-width: 76%;
    overflow: hidden;
  }

  .button-blue {
    bottom: -10%;
  }
}

@media only screen and (min-width: 903px) {

  .biology-pad,
  .cosmo-img-mobile {
    display: none;
  }

  /* ---------------- UNDER INTRO HEADER ---------------- */

  .desktop-vision {
    margin: 2rem auto;
    padding: 4rem;
    height: 653px;
    cursor: pointer;
  }

  .desktop-vision figure {
    display: block;
    margin: 0;
    position: relative;
  }

  .desktop-vision figure img {
    width: 100%;
    padding-right: 28rem;
    margin-left: 0;
    max-height: 600px;
  }

  .desktop-links {
    max-width: 1100px;
  }

  .desktop-links a {
    margin-left: 35%;
  }

  .desktop-links p {
    width: 500px;
    margin-left: 25%;
  }

  /* ---------------- EXHIBITIONS SPACES ---------------- */

  .spaces {
    position: relative;
    display: flex;
    max-width: 1100px;
    margin: auto;
    height: 320px;
    padding: 0 4rem;
  }

  .spaces-container {
    display: flex;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    background-color: var(--light-blue);
    padding: 2rem;
  }

  .spaces figure {
    margin: 0;
    padding: 0;
  }

  .spaces img {
    border-radius: 20px;
    height: 250px;
  }

  .text-wrap {
    width: 320px;
    margin-left: 2rem;
  }

  .text-wrap h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* ---------------- EXHIBITIONS ---------------- */

  .cosmo-img-mobile,
  .cosmo-pad,
  .biology-hidden {
    display: none;
  }

  .wrap {
    display: flex;
    padding: 4rem;
    justify-content: center;
    max-width: 1100px;
  }

  .cosmo-img-desktop {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .cosmo {
    display: block;
    width: 437px;
    margin-top: 0;
  }

  .exhibitions {
    display: flex;
    width: 490px;
    justify-content: space-evenly;
  }

  .biology-desktop img {
    display: flex;
    width: 100%;
  }

  .biology-desktop,
  .robotics img,
  .ecology img,
  .evolution img {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .biology,
  .robotics,
  .ecology,
  .evolution {
    width: 204.8px;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 284px;
  }

  .ecology,
  .evolution {
    margin-top: 27px;
  }

  .biology h2,
  .robotics h2,
  .ecology h2,
  .evolution h2,
  .cosmo-desktop h2 {
    padding-top: 10px;
  }

  /* ---------------- GUIDED TOUR ---------------- */

  .guide img {
    display: flex;
    width: 240px;
    right: 70px;
    top: 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    height: 600px;
  }

  .intro {
    height: 495px;
  }

  .intro p:first-of-type {
    margin-left: 20%;
  }

  .intro h1 {
    margin: 8rem 0 0 20%;
    font-size: 3.4rem;
    width: 20rem;
  }

  .button-yellow,
  .button-green {
    margin: 110px 20px;
  }

  /* ---------------- UNDER INTRO HEADER ---------------- */

  .desktop-vision {
    margin: 0 auto;
  }

  .rocket {
    position: absolute;
    background-image: url(/images/desktop/rocket.png);
    background-repeat: no-repeat;
    height: 390px;
    width: 230px;
    right: 0;
    top: -2rem;
  }

  .text-wrap h2 {
    margin-bottom: 2rem;
  }

  /* ---------------- GUIDED TOUR ---------------- */

  .guide h2 {
    font-size: 3.4rem;
  }

  .guide img {
    display: flex;
    width: 300px;
    right: 80px;
    top: -15%;
  }

  .guide p {
    margin-left: 4rem;
    width: 400px;
    padding-right: 1.5rem;
  }
}